<configuration scan="false">

	<!-- A konzolon minden üzenetet naplózunk -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS}  %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!--
		Az állományba csak adott szintű vagy annál magasabb szintű
		üzeneteket naplózunk 

	-->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>messages.log</file>
		<append>false</append>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!--
		A gyökér logger mindent naplóz (a konzolra és az állományba
		is)
	-->
	<root level="ALL">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE"/>
	</root>

	<!--
		Az alábbi logger mindent a konzolra naplóz.
	
		Az additivity="false" azt jelenti, hogy a logger-be
		naplózott üzenetek nem adódnak tovább a hierarchiában
		fölötte lévő logger objektumokhoz. Az attribútum értékét
		"true"-ra kell módosítani ahhoz, hogy az üzenetek
		eljussanak a gyökér logger-hez, így az állományban is
		megjelenjenek.
	-->
	<logger name="inf.unideb.hu.beadando_maven.KaloriaSzamlalo" level="ALL" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>

</configuration>