<configuration scan="false">

<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	<encoder>
		<pattern>%date{HH:mm:ss.SSS} %logger{36} %level - %msg %n</pattern>
	</encoder>
</appender>

<appender name="FILE1" class="ch.qos.logback.core.FileAppender">
	<file>n.log</file>
	<append>true</append>
	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
		<level>WARN</level>
	</filter>
	<encoder>
		<pattern>%date{HH:mm:ss.SSS} %logger{36} %level - %msg %n</pattern>
	</encoder>
</appender>

<appender name="WLOG" class="ch.qos.logback.core.FileAppender">
	<file>w.log</file>
	<append>true</append>
	<filter class="ch.qos.logback.classic.filter.LevelFilter">
		<level>INFO</level>
		<onMatch>ACCEPT</onMatch>
		<onMismatch>DENY</onMismatch>
	</filter>
	<encoder>
		<pattern>%date{HH:mm:ss.SSS} %logger{36} %level - %msg %n</pattern>
	</encoder>
</appender>

<root level="ALL">
	<appender-ref ref="STDOUT"/>
	<appender-ref ref="FILE1"/>
	<appender-ref ref="WLOG"/>
</root>
</configuration>